n8n_shared/workflows/0ks22xW9BUlhCLSX.json
{"updatedAt":"2026-07-20T08:05:00.640Z","createdAt":"2026-07-17T13:38:00.944Z","id":"0ks22xW9BUlhCLSX","name":"ai_1c lite","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-336,-32],"id":"82bce283-88c3-4497-95b0-122bee50dd77","name":"When chat message received","webhookId":"73063c78-3fe3-4ee7-9795-0ba14917580e"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"Ты — ИИ-ассистент для работы с базой данных 1С Розница.\n\nТвоя задача — отвечать на вопросы пользователя, используя инструменты.\n\nПРАВИЛА\n\nВсегда используй оба инструмента в следующем порядке:\n1.Сначала вызови инструмент schema_search_tool чтобы получить метаданные о базе из которой мы будем получать данные\n2.Потом построй запрос на языке запросов 1С и вызови инструмент query_1c чтобы получить данные из базы.\n3.Если query_1c вернул ошибку:\n   - исправь запрос и попробуй ещё один раз;\n   - если снова ошибка — сообщи пользователю текст ошибки.\n\nПользователю никогда не показывай текст запроса 1С, показывай только итоговый ответ.\nОтвечай кратко, на русском языке.\n\n\n\n## Правила построения запросов 1С\n\nИспользуй только язык запросов 1С, не SQL.\n\nИспользуй только объекты, реквизиты и связи, найденные schema_search_tool.\n\nНикогда не придумывай объекты конфигурации.\n\nВсегда перечисляй необходимые поля.\n\nИспользуй только конструкции языка запросов 1С.\n\nЕсли внутри запроса 1С есть кавычки, то перед символом кавычек надо ставить знак \\\n\n### Шаблон выборки документов за период\n\nЕсли необходимо получить документы за определенную дату или период, используй следующий шаблон:\n\n```1c\nВЫБРАТЬ\n    Документ.Ссылка КАК Ссылка\nИЗ\n    Документ.<ИмяДокумента> КАК Документ\nГДЕ\n    Документ.Дата МЕЖДУ\n        ДАТАВРЕМЯ(Год, Месяц, День)\n        И\n        ДАТАВРЕМЯ(Год, Месяц, День, 23, 59, 59)\n```\n\nПравила:\n\n- Используй только объект `Документ.<ИмяДокумента>`, найденный `schema_search_tool`.\n- Для отбора по одной календарной дате всегда используй оператор `МЕЖДУ`.\n- Начало дня — `ДАТАВРЕМЯ(Год, Месяц, День)`.\n- Конец дня — `ДАТАВРЕМЯ(Год, Месяц, День, 23, 59, 59)`.\n- Для ссылки на документ используй поле `Ссылка`.\n- Обращайся к полям только через псевдоним документа."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[16,-128],"id":"a80ff0c4-7242-4d8d-958f-a2a49a192ae6","name":"AI Agent"},{"parameters":{"model":"llama3.1:8b","options":{"useMMap":true}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-144,96],"id":"67c3c0f2-8707-45bd-a9db-26fb16a39aa5","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"fORHS02LcYK3xM3X","name":"Ollama account"}}},{"parameters":{"httpMethod":"POST","path":"209af185-3fac-4b8d-84cb-869cb11b151e","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,-224],"id":"4cc002f3-c62d-4375-83aa-45702b3ecd01","name":"Webhook","webhookId":"209af185-3fac-4b8d-84cb-869cb11b151e"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[480,-128],"id":"0d1ed806-3ad8-4c50-8a3c-63ee777260ae","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[16,96],"id":"f2cd4e6f-f460-4183-8f0d-13890fa935a0","name":"Simple Memory"},{"parameters":{"toolDescription":"Выполняет запрос на языке запросов 1С.\n\nНа вход принимает параметр:\n\nquery — текст запроса на языке запросов 1С.\n\nВозвращает JSON.\n\nЕсли присутствует поле data — используй эти данные для ответа пользователю.\n\nЕсли присутствует поле error — исправь запрос и повтори выполнение один раз.\n\nНикогда не интерпретируй ошибку как данные.\n\nНикогда не придумывай ответ без выполнения запроса.","method":"POST","url":"http://host.docker.internal/retailDemo_opt/hs/ai/query","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $fromAI('query', 'Запрос на языке запросов 1С') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[160,96],"id":"387deefc-759d-4dee-8f8e-4b7fc17c7dd4","name":"query_1c","credentials":{"httpBasicAuth":{"id":"NxQ6yddcFfAJbKP7","name":"1С cred"}}},{"parameters":{"description":"Поиск объектов конфигурации.\n\nНикогда не отвечает на вопрос пользователя напрямую.\n\nНикогда не возвращает данные из базы.\n\nРезультат этого инструмента используется ТОЛЬКО для помощи в написании запроса 1С.\n\nПосле успешного выполнения этого инструмента необходимо вызвать query_1c.","workflowId":{"__rl":true,"value":"vdesLjTReY8FCo9s","mode":"list","cachedResultUrl":"/workflow/vdesLjTReY8FCo9s","cachedResultName":"schema_search_tool"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'Вопрос для поиска по схеме конфигурации') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[336,96],"id":"1e62500d-19e6-47a4-9dee-65bd8d4e7590","name":"Call 'schema_search_tool'"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"query_1c":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'schema_search_tool'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timezone":"Europe/Moscow"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44a69778-f134-4870-9855-3099e43dfffe","activeVersionId":null,"versionCounter":150,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-07-17T13:38:00.946Z","createdAt":"2026-07-17T13:38:00.946Z","role":"workflow:owner","workflowId":"0ks22xW9BUlhCLSX","projectId":"Io8vAuagzeSNnkX2","project":{"updatedAt":"2026-06-02T09:25:15.555Z","createdAt":"2026-06-02T09:21:12.038Z","id":"Io8vAuagzeSNnkX2","name":"Pavel Novozhilov <novpas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fe5dddb1-a968-4d41-808f-aaf50e432cc8"}}],"versionMetadata":{"name":null,"description":null}}