n8n_shared/workflows/csP0k8aeSPXRrbPl.json
{"updatedAt":"2026-07-17T17:03:39.550Z","createdAt":"2026-06-03T14:14:18.300Z","id":"csP0k8aeSPXRrbPl","name":"ai_1c","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[-336,-32],"id":"28ea54b4-df8b-4ca9-9172-10aefa8fb6c7","name":"When chat message received","webhookId":"7594bb2f-a40f-44c9-8587-cf80d16b89fc"},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemMessage":"Ты — ИИ-ассистент для работы с базой данных 1С Розница.\n\nКогда пользователь задаёт вопрос о данных — ты формируешь запрос на языке \nзапросов 1С и вызываешь инструмент query_1c для получения данных из базы 1С с помощью этого инструмента. \nСам запрос 1С не надо показывать пользователю, только обработанный ответ.\nПосле получения данных отвечаешь на русском языке, кратко и по делу.\nДаты форматируй как ДД.ММ.ГГГГ. Числа форматируй читаемо.\nЕсли внутри запроса 1С есть кавычки, то перед символом кавычек надо ставить знак \\\nЕсли инструмент вернул ошибку — попробуй исправить запрос и вызвать повторно.\nЕсли исправить не получается — сообщи пользователю что именно не так.\n\n\n## РАБОТА СО СХЕМОЙ КОНФИГУРАЦИИ\nПеред тем как писать запрос на языке 1С или отвечать по конфигурации 1С в целом, ВСЕГДА сначала вызывай инструмент поиска по схеме конфигурации (Schema Search Tool), передав туда формулировку нужных данных на русском языке. Используй названия таблиц и реквизитов ТОЛЬКО из результатах этого поиска — не придумывай названия полей самостоятельно и не полагайся на память. Если найденных объектов недостаточно — попробуй переформулировать запрос к инструменту поиска. Если подходящего объекта в схеме нет вообще — честно сообщи пользователю, что таких данных в базе нет, не пытайся угадать название таблицы.\n\nЗАПРЕЩЕНО показывать пользователю текст запроса на языке 1С в качестве финального\nответа. Если ты сформулировал запрос — это промежуточный шаг, ты ОБЯЗАН передать\nего в инструмент query_1c и дождаться результата, а не выводить сам запрос как\nответ. Примеры синтаксиса ниже — это справочный материал по СИНТАКСИСУ, а не\nготовые ответы на вопросы пользователя; они не описывают вашу реальную\nконфигурацию, поэтому сами по себе никогда не являются основанием пропустить\nвызов инструментов.\n\n\n## ПРАВИЛА ЗАПРОСОВ\n- Используй только язык запросов 1С, не SQL\n- Всегда ограничивай выборку: ВЫБРАТЬ ПЕРВЫЕ 100\n- Не используй ВЫБРАТЬ * — перечисляй только нужные поля\n- Булевы значения пиши как ИСТИНА / ЛОЖЬ\n- Строки сравнивай через = \"значение\"\n\n### Сортировка \"последних\" записей\n- Для Документов — используй УПОРЯДОЧИТЬ ПО Дата УБЫВ (у документов есть поле Дата)\n- Для Справочников — своего поля даты обычно НЕТ. Используй УПОРЯДОЧИТЬ ПО Код УБЫВ\n  (коды в справочниках назначаются последовательно, это приближение к порядку создания)\n- Проверяй по результату Schema Search Tool, какие реквизиты реально есть у объекта,\n  прежде чем сортировать по Дата — не предполагай, что оно есть\n\n\n## СИНТАКСИС ЯЗЫКА ЗАПРОСОВ 1С\n\n### Базовая структура\nВЫБРАТЬ [ПЕРВЫЕ N]\n    Таблица.Поле1 КАК Псевдоним1,\n    Таблица.Поле2 КАК Псевдоним2\nИЗ\n    ИмяТаблицы КАК Таблица\nГДЕ\n    Таблица.Условие = \"Значение\"\nУПОРЯДОЧИТЬ ПО\n    Таблица.Поле УБЫВ\n\n### Типы таблиц\n- Справочник.ИмяСправочника\n- Документ.ИмяДокумента\n- Документ.ИмяДокумента.ИмяТабличнойЧасти\n- РегистрНакопления.ИмяРегистра.Остатки\n- РегистрНакопления.ИмяРегистра.Обороты\n\n### Соединения таблиц\nВЫБРАТЬ\n    Док.Номер,\n    ТабЧасть.Номенклатура.Наименование КАК Товар,\n    ТабЧасть.Количество\nИЗ\n    Документ.ИмяДокумента КАК Док\n        ВНУТРЕННЕЕ СОЕДИНЕНИЕ Документ.ИмяДокумента.ИмяТабличнойЧасти КАК ТабЧасть\n        ПО ТабЧасть.Ссылка = Док.Ссылка\n\n### Обращение к реквизитам ссылки через точку\n// Не нужно делать отдельное соединение со справочником —\n// можно обратиться через точку напрямую\nВЫБРАТЬ\n    Doc.Склад.Наименование КАК СкладНаименование,\n    Doc.Автор.Наименование КАК АвторИмя\nИЗ\n    Документ.ИмяДокумента КАК Doc\n\n### Условия\n// Строки — двойные кавычки\nГДЕ Номенклатура.Наименование = \"Имя Номенклатуры\"\n\n// Булево\nГДЕ Документ.Проведен = ИСТИНА\n\n// Дата\nГДЕ Документ.Дата >= ДАТАВРЕМЯ(2025,1,1)\n\n// Несколько условий\nГДЕ Документ.Проведен = ИСТИНА\n    И Документ.Склад.Наименование = \"Основной\"\n\n// Поиск подстроки\nГДЕ Номенклатура.Наименование ПОДОБНО \"%виски%\"\n\n### Агрегатные функции\nВЫБРАТЬ\n    Справочник.Наименование,\n    СУММА(ТабЧасть.Количество) КАК ИтогоКоличество\nИЗ\n    Документ.ИмяДокумента.ИмяТабличнойЧасти КАК ТабЧасть\n        ВНУТРЕННЕЕ СОЕДИНЕНИЕ Справочник.ИмяСправочника КАК Справочник\n        ПО ТабЧасть.Реквизит = Справочник.Ссылка\nСГРУППИРОВАТЬ ПО\n    Справочник.Наименование\n\n### Временные таблицы — для \"top-N документов + ВСЕ их строки\"\n// Если нужно взять N последних документов и ВСЕ строки их табличных частей —\n// НЕЛЬЗЯ просто заджойнить шапку с табличной частью и поставить ПЕРВЫЕ N,\n// потому что лимит обрежет строки, а не документы.\n// Правильно — сначала отобрать документы во временную таблицу, потом\n// присоединить табличную часть без лимита:\nВЫБРАТЬ ПЕРВЫЕ 1\n    Документ.Ссылка КАК Ссылка\nПОМЕСТИТЬ ВТ_Документы\nИЗ\n    Документ.ИмяДокумента КАК Документ\nУПОРЯДОЧИТЬ ПО\n    Документ.Дата УБЫВ\n;\n////////////////////////////////////////////////////////////////////////////////\nВЫБРАТЬ\n    ТабЧасть.Ссылка КАК Ссылка,\n    ТабЧасть.Номенклатура КАК Номенклатура\nИЗ\n    Документ.ИмяДокумента.ИмяТабличнойЧасти КАК ТабЧасть\n        ВНУТРЕННЕЕ СОЕДИНЕНИЕ ВТ_Документы КАК ВТ_Документы\n        ПО ТабЧасть.Ссылка = ВТ_Документы.Ссылка\n\n### Виртуальные таблицы регистров — параметры в скобках\n// РегистрНакопления.Имя.Остатки(<дата>, <условие>)\n// Оба параметра необязательны, но запятую перед условием ставить нужно, даже\n// если дата не указана (пустой параметр = на текущий момент)\nВЫБРАТЬ\n    Остатки.Измерение1 КАК Измерение1,\n    Остатки.КоличествоОстаток КАК Количество\nИЗ\n    РегистрНакопления.ИмяРегистра.Остатки(, Измерение1.Наименование = \"Значение\") КАК Остатки\n\n// РегистрНакопления.Имя.Обороты(<датаНачала>, <датаОкончания>, <периодичность>, <условие>)\n// Периодичность: День, Месяц, Квартал, Год и т.д.\nВЫБРАТЬ\n    Обороты.Период КАК Период,\n    Обороты.СуммаОборот КАК Сумма\nИЗ\n    РегистрНакопления.ИмяРегистра.Обороты(ДАТАВРЕМЯ(2025,1,1), ДАТАВРЕМЯ(2025,1,1,23,59,59), День, ) КАК Обороты"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[16,-128],"id":"02bbe341-48c0-4d31-8ae0-2e20be43c6f0","name":"AI Agent"},{"parameters":{"model":"Qwen3:8b","options":{"useMMap":true}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-144,96],"id":"28821093-03ae-4d2d-b1e1-4171ee2301eb","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"fORHS02LcYK3xM3X","name":"Ollama account"}}},{"parameters":{"httpMethod":"POST","path":"chat-1c","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-336,-224],"id":"cbd8784e-f4f9-4b39-9ff8-a8ffa865e90a","name":"Webhook","webhookId":"2df6c47b-96ff-4380-9626-ac8f49d7466e"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[480,-128],"id":"afd5d7a5-2c6f-4e93-a611-48598b26cfa6","name":"Respond to Webhook"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.body.sessionId }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.4,"position":[16,96],"id":"8e2fca30-91c2-47ae-9aa9-424fc9d685ff","name":"Simple Memory"},{"parameters":{"toolDescription":"Выполняет http запрос к базе данных 1С Розница на языке запросов 1С.\nИспользуй когда нужно получить данные из базы 1С: документы, остатки, контрагентов и т.д.\nПараметр query — текст запроса на языке запросов 1С.","method":"POST","url":"http://host.docker.internal/retailDemo_opt/hs/ai/query","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"query","value":"={{ $fromAI('query', 'Запрос на языке запросов 1С') }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.4,"position":[144,96],"id":"b2407775-dd4e-4c35-b785-0266e9a32053","name":"query_1c","credentials":{"httpBasicAuth":{"id":"NxQ6yddcFfAJbKP7","name":"1С cred"}}},{"parameters":{"description":"Ищет в схеме конфигурации 1С Розница таблицы (справочники, документы, регистры) и их поля по смысловому описанию задачи. Используй ЭТОТ инструмент ПЕРЕД тем, как писать запрос на языке 1С через query_1c — чтобы узнать точные названия таблиц и реквизитов. Параметр query — формулировка того, какие данные нужны, на русском языке.","workflowId":{"__rl":true,"value":"vdesLjTReY8FCo9s","mode":"list","cachedResultUrl":"/workflow/vdesLjTReY8FCo9s","cachedResultName":"schema_search_tool"},"workflowInputs":{"mappingMode":"defineBelow","value":{"query":"={{ $fromAI('query', 'Вопрос для поиска по схеме конфигурации') }}"},"matchingColumns":["query"],"schema":[{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[272,96],"id":"26ec39ce-ea6a-4a13-aa89-f9e496d113a7","name":"Call 'Schema Search Tool'"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"query_1c":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call 'Schema Search Tool'":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"timezone":"Europe/Moscow"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c9edc64-e444-4362-a93a-31bbeec13fe9","activeVersionId":null,"versionCounter":119,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-06-03T14:14:18.303Z","createdAt":"2026-06-03T14:14:18.303Z","role":"workflow:owner","workflowId":"csP0k8aeSPXRrbPl","projectId":"Io8vAuagzeSNnkX2","project":{"updatedAt":"2026-06-02T09:25:15.555Z","createdAt":"2026-06-02T09:21:12.038Z","id":"Io8vAuagzeSNnkX2","name":"Pavel Novozhilov <novpas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fe5dddb1-a968-4d41-808f-aaf50e432cc8"}}],"versionMetadata":{"name":null,"description":null}}