n8n_shared/workflows/vdesLjTReY8FCo9s.json
{"updatedAt":"2026-07-20T06:57:43.861Z","createdAt":"2026-07-16T09:27:14.307Z","id":"vdesLjTReY8FCo9s","name":"schema_search_tool","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"query"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-144,-48],"id":"6c10f1ee-95df-4eb4-be2f-f7dbaacf204f","name":"Execute Workflow Trigger"},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{ JSON.stringify({\n  model: \"bge-m3\",\n  prompt: $json.query\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[80,-48],"id":"d0fed8cf-6c9d-40b8-925f-c9b86aaa3d38","name":"Embed Query via Ollama"},{"parameters":{"method":"POST","url":"http://qdrant:6333/collections/schema_1c/points/search","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{ JSON.stringify({\n  vector: $json.embedding,\n  limit: 5,\n  with_payload: true\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[304,-48],"id":"c5b5846e-9f4a-4855-8d21-01c2130dd3c3","name":"Search Qdrant"},{"parameters":{"jsCode":"const results = $json.result || [];\nconst formatted = results.map(r => {\n  const p = r.payload;\n  let desc = `${p.full_name} (${p.synonym})`;\n  if (p.attributes) {\n    desc += '\\nРеквизиты: ' + p.attributes.map(a => `${a.name}: ${a.type}`).join(', ');\n  }\n  if (p.dimensions) {\n    desc += '\\nИзмерения: ' + p.dimensions.map(a => `${a.name}: ${a.type}`).join(', ');\n  }\n  if (p.resources) {\n    desc += '\\nРесурсы: ' + p.resources.map(a => `${a.name}: ${a.type}`).join(', ');\n  }\n  if (p.tabular_parts && p.tabular_parts.length) {\n    desc += '\\nТабличные части:\\n' + p.tabular_parts.map(tp => {\n      const fields = (tp.attributes || []).map(a => `${a.name}: ${a.type}`).join(', ');\n      return `  ${tp.name} (${tp.synonym || ''}): ${fields}`;\n    }).join('\\n');\n  }\n  return desc;\n}).join('\\n\\n---\\n\\n');\nreturn {\n  json: {\n    schema: formatted,\n    isSchema: true,\n    instruction: \"Это описание структуры базы данных. Не содержит данных. Следующий шаг — построить запрос и вызвать query_1c.\"\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,-48],"id":"65aecb97-f4a5-4cc0-9f39-ced957fa21c5","name":"Format Results"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Embed Query via Ollama","type":"main","index":0}]]},"Embed Query via Ollama":{"main":[[{"node":"Search Qdrant","type":"main","index":0}]]},"Search Qdrant":{"main":[[{"node":"Format Results","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"195eaa67-a85b-460b-88fd-38824785cf1d","activeVersionId":null,"versionCounter":70,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-07-16T09:27:14.310Z","createdAt":"2026-07-16T09:27:14.310Z","role":"workflow:owner","workflowId":"vdesLjTReY8FCo9s","projectId":"Io8vAuagzeSNnkX2","project":{"updatedAt":"2026-06-02T09:25:15.555Z","createdAt":"2026-06-02T09:21:12.038Z","id":"Io8vAuagzeSNnkX2","name":"Pavel Novozhilov <novpas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fe5dddb1-a968-4d41-808f-aaf50e432cc8"}}],"versionMetadata":{"name":null,"description":null}}