n8n_shared/workflows/xPgUHc4ySG7Am2Vv.json
{"updatedAt":"2026-07-15T09:25:18.333Z","createdAt":"2026-06-03T09:17:03.423Z","id":"xPgUHc4ySG7Am2Vv","name":"indexer","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-640,-448],"id":"b2c9ba7f-66d6-4528-9401-aaa5ae75a1e9","name":"When clicking ‘Execute workflow’"},{"parameters":{"batchSize":100,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[704,-448],"id":"c29521bf-6aed-4f10-bdeb-8b5f9deca0f1","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"bge-m3\",\n  \"prompt\": \"\",\n  \"keep_alive\": 0\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1600,-528],"id":"cda700ea-c8e9-41e5-949b-028b9b2bce8a","name":"Unload Model","executeOnce":true,"retryOnFail":false,"maxTries":2},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1824,-448],"id":"6e5662ea-b0b1-445f-8efe-f7a04d711c09","name":"Wait","webhookId":"e6c8e543-223d-4047-b7bc-c23c114c04f1"},{"parameters":{"method":"DELETE","url":"http://qdrant:6333/collections/schema_1c","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-416,-448],"id":"5d373620-4337-48e6-b450-a3978e535045","name":"Delete Qdrant Collection","executeOnce":false},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/schema_1c","sendBody":true,"specifyBody":"json","jsonBody":"{\"vectors\": {\"size\": 1024, \"distance\": \"Cosine\"}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,-448],"id":"241886b9-e2b4-4b7c-8c81-63389e1ef03a","name":"Create Qdrant Collection","executeOnce":false},{"parameters":{"fileSelector":"/home/node/.n8n-files/ConfigurationJSON.txt","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1.1,"position":[32,-448],"id":"72505894-a9b6-49a3-8ff3-dc1e697c1a33","name":"Read Config JSON"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[256,-448],"id":"adda5c90-7867-4b17-ac01-036a835dabfe","name":"Parse JSON"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[480,-448],"id":"4f6247ee-14a3-4ec9-a42c-98bf7055aed3","name":"Split Metadata Objects"},{"parameters":{"jsCode":"const excludePatterns = [\n  /ПрисоединенныеФайлы$/,\n  /^В1ерсииОбъектов/,\n  /^Х1ранилищеНастроек/\n];\n\nfunction fieldsToText(fields, label) {\n  if (!fields || fields.length === 0) return '';\n  const parts = fields.map(f => `${f.name} (${f.synonym || f.name}): ${f.type}`);\n  return `${label}: ${parts.join('; ')}.`;\n}\n\nfunction randomUUID() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    const v = c === 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  });\n}\n\nconst result = [];\n\nfor (const item of $input.all()) {\n  const obj = item.json;\n\n  if (excludePatterns.some(re => re.test(obj.name))) {\n    continue;\n  }\n\n  let text = `${obj.type} \"${obj.full_name}\", синоним \"${obj.synonym}\".`;\n  if (obj.comment) text += ` Комментарий: ${obj.comment}.`;\n  if (obj.attributes) text += ' ' + fieldsToText(obj.attributes, 'Реквизиты');\n  if (obj.dimensions) text += ' ' + fieldsToText(obj.dimensions, 'Измерения');\n  if (obj.resources) text += ' ' + fieldsToText(obj.resources, 'Ресурсы');\n  if (obj.tabular_parts && obj.tabular_parts.length) {\n    const tpList = obj.tabular_parts.map(tp => `${tp.name} (${tp.synonym || ''})`).join(', ');\n    text += ` Табличные части: ${tpList}.`;\n  }\n\n  const MAX_TEXT_LENGTH = 4000; // символов, с запасом под контекст bge-m3\n  if (text.length > MAX_TEXT_LENGTH) {\n    text = text.slice(0, MAX_TEXT_LENGTH) + '…';\n  }\n  \n  result.push({\n    json: {\n      id: randomUUID(),\n      full_name: obj.full_name,\n      text: text,\n      payload: obj\n    }\n  });\n}\n\n\n// временно, для проверки — после отладки можно убрать\n//const excluded = [];\n//for (const item of $input.all()) {\n//  if (excludePatterns.some(re => //re.test(item.json.name))) {\n//    excluded.push(item.json.name);\n//  }\n//}\n//console.log('Исключено:', excluded);\n\n\nreturn result;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[928,-528],"id":"c028e87e-ce2b-4663-92cf-4fd752bb6d92","name":"Filter & Build Text"},{"parameters":{"method":"POST","url":"http://host.docker.internal:11434/api/embeddings","sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{ JSON.stringify({\n  model: \"bge-m3\",\n  prompt: $json.text\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1152,-528],"id":"9eddea45-7381-4652-9617-b4ad8279515d","name":"Embed via Ollama","executeOnce":false,"retryOnFail":false,"maxTries":2,"onError":"continueErrorOutput"},{"parameters":{"method":"PUT","url":"http://qdrant:6333/collections/schema_1c/points","sendQuery":true,"queryParameters":{"parameters":[{"name":"wait","value":"true"}]},"sendBody":true,"specifyBody":"=json","bodyParameters":{"parameters":[{}]},"jsonBody":"={{ JSON.stringify({\n  points: [\n    {\n      id: $('Filter & Build Text').item.json.id,\n      vector: $json.embedding,\n      payload: $('Filter & Build Text').item.json.payload\n    }\n  ]\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1376,-624],"id":"9658626e-a7b9-4840-811f-9bbe83207c76","name":"Upsert Point to Qdrant","executeOnce":false},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1376,-432],"id":"a5a8d6e6-9e44-4112-a4aa-95c42d1407fd","name":"Embedding Errors"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Delete Qdrant Collection","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Filter & Build Text","type":"main","index":0}]]},"Unload Model":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Delete Qdrant Collection":{"main":[[{"node":"Create Qdrant Collection","type":"main","index":0}]]},"Create Qdrant Collection":{"main":[[{"node":"Read Config JSON","type":"main","index":0}]]},"Read Config JSON":{"main":[[{"node":"Parse JSON","type":"main","index":0}]]},"Parse JSON":{"main":[[{"node":"Split Metadata Objects","type":"main","index":0}]]},"Split Metadata Objects":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter & Build Text":{"main":[[{"node":"Embed via Ollama","type":"main","index":0}]]},"Embed via Ollama":{"main":[[{"node":"Upsert Point to Qdrant","type":"main","index":0}],[{"node":"Embedding Errors","type":"main","index":0}]]},"Upsert Point to Qdrant":{"main":[[{"node":"Unload Model","type":"main","index":0}]]},"Embedding Errors":{"main":[[]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"c3a0fa2c-c50e-4d96-8ceb-f98ad443f66c","activeVersionId":null,"versionCounter":195,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-03T09:17:03.427Z","createdAt":"2026-06-03T09:17:03.427Z","role":"workflow:owner","workflowId":"xPgUHc4ySG7Am2Vv","projectId":"Io8vAuagzeSNnkX2","project":{"updatedAt":"2026-06-02T09:25:15.555Z","createdAt":"2026-06-02T09:21:12.038Z","id":"Io8vAuagzeSNnkX2","name":"Pavel Novozhilov <novpas@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"fe5dddb1-a968-4d41-808f-aaf50e432cc8"}}],"versionMetadata":{"name":null,"description":null}}